.window-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 30px; */
  padding: 23px 10px;
  background-color: #f0f0f0;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-app-region: drag;
}
.logo span {
  color: black;
  /* font-weight: bold; */
  font-size: 14px;
  font-style: italic;
}

.buttons {
  display: flex;
}

.btn {
  background-color: transparent;
  border: none;
  /* color: black; */
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
  /* font-weight: bolder; */
}

.btn:hover {
  background-color: #926e6e;
}

.close-btn:hover {
  background-color: #e81123;
}
